body{
  display: table;
  background-color: black;
  padding-bottom: 0;
  margin: 0;
  height: 100%;
  color: #F1DDBF;
}

.summary {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: justify;
  color: #F1DDBF;
}

.navbar {
  background-color: #F1DDBF;
  font-weight: bold;
  margin-bottom: 10px;
}

footer{
  width: 100%;
  padding: 0;
  background-color: black;
  color: #F1DDBF;
}

.navbar-brand {
  color: black;
  margin-left: 15px;
}

.container-fluid {
  padding: 0 3%;
}

.img-profile {
  padding: 10px;
  border-radius: 100%;
  border-radius: 50px;
  border: 1px solid black;
}

.img-tools {
  padding: 20px;
}

i {
  font-size:50px;
  color:#F1DDBF;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card {
  background-color: black;
}

.card-header {
  text-align: center;
}

.accordion-button {
  text-align: center;
  color: #F1DDBF;
}

h2 {
  text-align: center;
  /* padding-bottom: 7%; */
  color: #EFEAD8;
}

.col-spc {
  margin: 2px;
  padding: 50px 10px;
}

.collapse, .navbar-toggler{
  margin-right: 3px;
}

.nav-item{
  text-align: right;
  margin-right: 15px;
}

.tools {
  padding: 3% 0;
  color: #EFEAD8;
  size: 10%;
}

.carousel-item {
  text-align: center;
}

.carousel-item p{
  padding: 0;
  line-height: .75;
}

.carousel-inner {
  width:100%;
  height: 135px;
}
.card {
  width: auto;
  color: #EFEAD8;
}

.col-lg-6 {
  padding-top: 7%;
}

h5 {
  padding-top: 5px;
  padding-bottom: 3px;
}

img {
  padding: 3px 5px;
}

.row {
  width: auto;
}

.card_div {
  margin-top: 5%;
}

.accordion-button {
  border-radius: 50px;
}

#footer {
  margin-top: 25px;
}
